@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@600;500;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body {
    font-family: "Epilogue", serif;
    font-weight: 500;
    font-size: 16px;
}

img{
    max-width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.herocontainer{
    width: 1000px;
    margin: 0 auto;
}

header{
    padding: 20px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;
}

div .Contact {
    background: #2d2d2d;
    padding: 15px 35px;
    transition: all 500ms ease;
}

div .Contact {
    text-transform: uppercase;
    font-size: 12.59px;
    font-weight: 600;
    color: white;
    margin: 30px 0;
}

div .Contact:hover{
    background: #535252;
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.hero-info{
    width: 350px;
    padding-top: 20px;
}

.hero-info h2{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.hero-info h1{
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 600;
    margin: 15px 0;
    color: #2d2d2d;
}

.hero-info p{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color:#2d2d2d;
}

.herocontainer img{
    position: absolute;
    top: 100px;
    right:800px;
    width: 250px;
}

.container_Latest_work{
    padding-top: 50px;
}

.img1{
    display: flex;
    position: absolute;
    left: 500px;
}

.img2{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 70px;
}

.img3{
    display: flex;
    width: 100%;
    justify-content: right;
    position: absolute;
    right: 630px;
}

.img4{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 500px;
}

.img5{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    right: 70px;
}

.img6{
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 50px;
    right: 630px;
}

.container_Latest_work h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color:#2d2d2d;
}

h3{
    position: absolute;
    left: 800px;
    top: 430px;
}

div .text1{
    position: absolute;
    bottom: -40px;
    left: 0px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #2d2d2d;
}

div .text2{
    position: absolute;
    bottom: -40px;
    right: 925px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #2d2d2d;
}

div .text3{
    position: absolute;
    bottom: -40px;
    right: 80px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #2d2d2d;
}

div .text4{
    position: absolute;
    bottom: -40px;
    left: 0px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #2d2d2d;

}

div .text5{
    position: absolute;
    bottom: -40px;
    right: 925px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #2d2d2d;
}

div .text6{
    position: absolute;
    bottom: -40px;
    right: 80px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    color: #2d2d2d;
}

.kartinka1{
    position: absolute;
    bottom: -20px;
    left: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

.kartinka2{
    position: absolute;
    bottom: -20px;
    right: 925px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

.kartinka3{
    position: absolute;
    bottom: -20px;
    right: 80px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

.kartinka4{
    position: absolute;
    bottom: -20px;
    left: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

.kartinka5{
    position: absolute;
    bottom: -20px;
    right: 925px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

.kartinka6{
    position: absolute;
    bottom: -20px;
    right: 80px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #2d2d2d;
}

.chart{
    display: flex;
    justify-content: left;
    position: absolute;
    left: 500px;
    bottom: -250px;
}

.Prodyct{
    position: absolute;
    bottom: -20px;
    left: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
}

.Anima1{
    position: absolute;
    bottom: -95px;
    left: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.8;
    color: #2d2d2d;
}

.Anima1{
    width: 100%;
    text-align: center;
}

.chart1{
    display: flex;
    justify-content: left;
    position: absolute;
    left: 775px;
    bottom: -250px;
}

.Anima2{
    position: absolute;
    bottom: -95px;
    left: -50px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.8;
    color: #2d2d2d;
}

.Anima2{
    width: 100%;
    text-align: center;
}

.Visual{
    position: absolute;
    bottom: -20px;
    left: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #2d2d2d;
}
